<!--The Header section-->
<header>
  <h1> {{ title | uppercase}} </h1>
  <!-- change the outpost display views -->
  <nav>
    <a routerLink='/list'>List of all the outpost</a>
    <a routerLink='/dashboard'>Most active outposts</a>
  </nav>

</header>

<!-- The Outposts Display section -->
<!-- display the choosen view by the user: list View by Default -->
<router-outlet></router-outlet>

<!-- A Log section for Messages on bottom of the page -->
<app-messages></app-messages>

<!-- The map section -->




