/* You can add global styles to this file, and also import other style files */
body {
  display: grid;
  width: auto;
  height: 1400px;
  grid-template: 0.5fr 2.5fr 1fr / 1fr 1fr;
  font-family: cursive, Arial, sans-serif;
}

button {
  font-family: Arial;
  font-size: 1.3em;
  background-color: #eee;
  box-shadow: 2px 2px gray;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  cursor: hand;
  color: #888;
}

button:hover {
  background-color: #cfd8dc;
  color: darkslategray;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}


